@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&family=Poppins:wght@400;500;700;800&display=swap');

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
}
:root {
    --primary-bg: url('images/bg-desktop-light.jpg');
    --mobileprimary-bg: url(images/bg-mobile-light.jpg);
    --secondary-bg: #fff;
    --boxcontainer-bg: #fff;
    --text-color: hsl(0, 0%, 0%);
    --linethrough-color: rgb(0, 0, 0, 0.3);
    --bottomNav-color: rgba(0, 0, 0, 0.5);
    --bottomNavhover-color: rgb(0,0,0);
    --border-color: 1px solid rgb(0, 0, 0, 0.2);
}
body.dark-mode{
    --primary-bg: url('images/bg-desktop-dark.jpg');
    --mobileprimary-bg: url(images/bg-mobile-dark.jpg);
    --secondary-bg: hsl(235, 21%, 11%);
    --boxcontainer-bg: hsl(235, 24%, 19%);
    --text-color: hsl(234, 39%, 85%);
    --linethrough-color: hsl(233, 14%, 35%);
    --bottomNav-color: hsl(234, 11%, 52%);
    --bottomNavhover-color: hsl(234, 39%, 85%);
    --border-color: 1px solid hsl(237, 14%, 26%);   
}

body{
    background: var(--secondary-bg);
    margin-bottom: 200px;
}


.bg-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: relative;
    background: var(--secondary-bg);
    

}

.bg-containerTop{
    height: 35%;
    width: 100%;
    background-image: var(--primary-bg);
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-containerBottom{
    flex: 1;
    width: 100%;
    background: var(--secondary-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background-color: green; */
    max-height: 100vh;
    
}

.container{
    height: auto;
    width: 500px;
    /* background: teal; */
    position: absolute;
    top: -200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
}

.top{
    height: 150px;
    width: 100%;
    /* background: powderblue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    /* border-radius: 15px; */
    margin-bottom: 25px;
}
.up{
    height: 40%;
    width: 100%;
    /* background: purple; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.todo{
    flex: 1;
    color: white;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 15px;
}
.icon{
    height: 30px;
    width: 30px;
    cursor: pointer;
    
}
.iconsun{
    height: 30px;
    width: 30px;
    display: none;
    cursor: pointer;
}

.down{
    height: 40%;
    width: 100%;
    background: var(--boxcontainer-bg);
    display: flex;
    border-radius: 5px;
    align-items: center;
}

.left{
    width: 15%;
    height: 100%;
    /* background: green; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftcircle{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 20px;
    margin-right: 20px;
}
input{
    flex: 1;
    width: 100%;
    height: 100%;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background: none;
    outline: none;
    color: var(--text-color);
}

.bottom{
    width: 100%;
    background: var(--boxcontainer-bg);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}
ul li{
    list-style-type: none;
    font-size: 17px;
    height: 60px;
    /* background: green; */
    /* border-top: 1px solid rgb(0, 0, 0, 0.2); */
    border-bottom: var(--border-color);
    padding: 12px 8px 12px 20px;
    user-select: none;
    /* cursor: pointer; */
    position: relative;
    /* color: var(--dark-text-color); */
    color: var(--text-color);
    display: flex;
    align-items: center;
    border-radius: 5px;
    position: relative;
}

ul li::before{
    content: "";
    height: 23px;
    width: 23px;
    border: 1px solid rgb(0, 0, 0, 0.3);
    border-radius: 50%;
    margin-right: 20px;
}
ul li:hover::before{
    border: none;
    background-image: url(images/unchecked\ border.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
/* ul li:hover::after{
    content: url(images/icon-cross.svg);
    position: absolute;
    right: 0px;
    margin-right: 20px;
    cursor: pointer;
} */
ul li span.delete-icon {
    background-image: url(images/icon-cross.svg); /* Add the image URL here */
    background-size: cover;
    width: 20px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
    cursor: pointer;
    position: absolute;
    right: 0;
    margin-right: 20px;
}

ul li.checked{
    color: var(--linethrough-color);
    text-decoration: line-through;
}
ul li.checked::before{
    content: url(images/icon-check.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #57ddff, #c058f3);
    border: none;
}

.bottomNav{
    display: flex;
    height: 50px;
    width: 100%;
}

.bottomNav1{
    width: 120px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.leftitem{
    font-size: 16px;
    cursor: pointer;
    color: var(--bottomNav-color);
}
.leftitem:hover{
    color: var(--bottomNavhover-color);
}
.bottomNav2{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
}
/* .bottomNav2content{
    font-size: 16px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
} */

.all{
    font-size: 16px;
    cursor: pointer;
    color: var(--bottomNav-color);
}
.actives{
    font-size: 16px;
    cursor: pointer;
    color: var(--bottomNav-color);
}
.completed{
    font-size: 16px;
    cursor: pointer;
    color: var(--bottomNav-color);
}
.all:hover{
    color: var(--bottomNavhover-color);
}
.actives:hover{
    color: var(--bottomNavhover-color);
}
.completed:hover{
    color: var(--bottomNavhover-color);
}
.all.active {
    color: #002dce; 
}
.actives.active {
    color: #002dce; 
}
.completed.active {
    color: #002dce; 
}
.bottomNav3{
    display: flex;
    align-items: center;
    width: 150px;
    padding-right: 20px;
}
.clear{
    font-size: 16px;
    cursor: pointer;
    color: var(--bottomNav-color);
    
}
.clear:hover{
    color: var(--bottomNavhover-color);
}


@media (max-width: 660px){
    body{
        margin-bottom: 150px;
    }
    .bg-containerTop{
        height: 35%;
        width: 100%;
        background-image: var(--mobileprimary-bg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .container{
        width: 90%;
    }
    .bottomNav{
        position: relative;
        justify-content: space-between;
    }
    .bottomNav2{
        position: absolute;
        margin-top: 75px;
        width: 100%;
        height: 50px;
        background: var(--boxcontainer-bg);
        border-radius: 5px;
        box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
    }
    
}